<div
  *ngIf="message"
  class="msg"
  [class.msg--me]="self"
  [class.msg--them]="!self"
>
  <div style="border-radius: 10px;background: #F5F5F5;padding: 10px">
    <div style="display: flex;" [style.flex-direction]="!self && 'row-reverse'">
      <img [src]="avatar" style="padding:10px" />
      <div>
        <div style="display: flex;color:gray;">
          <div style="padding-right: 10px">{{ name }}</div>
          <div>{{ getTime() }}</div>
        </div>
        <div>
          {{ message.text }}
        </div>
      </div>
    </div>
  </div>
</div>
