.body {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.footer {
  position: absolute;
  bottom: -70px;
  height: 70px;
  width: 100%;
}

.msg,
.toolbar,
form {
  display: flex;
}

header,
.messages,
blockquote {
  padding: 0.5em;
}

.msg {
  position: relative;
  margin-bottom: 2em;
}

.messages {
  flex: 1;
  overflow: auto;
}

.msg--them {
  justify-content: flex-end;
}
