<div class="body">
  <div>
    <p>user:{{ this.uid }}</p>
    <p>target:{{ this.room }}</p>
    <div style="display: flex;justify-content: space-between">
      <div>
        <app-chat-message
          *ngFor="let message of messages"
          [message]="message"
          [self]="isSelf(message)"
          style="margin:5px"
        ></app-chat-message>
      </div>
    </div>
  </div>
  <div class="footer" style="display: flex">
    <mat-form-field style="flex:1">
      <input
        matInput
        [(ngModel)]="text"
        placeholder="text"
        autocomplete="off"
      />
    </mat-form-field>
    <button mat-button (click)="send()">
      send
    </button>
  </div>
</div>
